table{
	font-family: sans-serif;
	border-spacing: 0px;
	border-collapse: collapse;
}

td, th, caption {
	border: 1px solid black;
}

caption{
	border-bottom: none;
	font-weight: 700;
}

.data{
	color: #ff0000;
}