.hero {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 146px;
  /* display: none; */
}

.hero__title {
  position: absolute;
  top: -350px;
  left: -10px;
  z-index: 2;
  text-transform: uppercase;
	width: 1073px;
	height: 389;
}

.hero__subtitle {
  position: absolute;
  top: -310px;
  right: -25px;
  z-index: 1;
  text-transform: uppercase;
	font-size: 397px;
	-webkit-text-stroke: 2px var(--main-dark-color);
	color: transparent;
}

.hero__img {
  object-fit: cover;
  position: relative;
	z-index: 3;
}

.hero_img-set::after {
  content: '';
  position: absolute;
  width: 54px;
  height: 54px;
  background-image: url(../../icons/arrow-2.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 112px;
  height: 112px;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.hero__article:hover {
	opacity: 0.9;
}

.hero__article {
  flex: 1;
  max-width: 639;
	min-height: 396px;
  background-color: var(--main-color);
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
	border-left: 1px solid #000;
}

.hero__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.hero__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hero__article-card {
	flex: 1;
}

.hero__link::after {
  content: "";
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url(../../icons/arrow.svg);
}