html{
	font-family: sans-serif;
	
}

body * {
	box-sizing: border-box;

}

.container{ 
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.header_container{
	justify-content: space-between;
	border-bottom: 2px;
	border-bottom: 1px solid #333;
}

.logo {
	width: 50px; 
  height: 50px; 
  background-color: black;
	margin: 15px 0px 15px 0px
}

ul{
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	margin: 30px 10px 0px 10px;
}

a{
	color: black;
}

.tel{
	text-decoration: none;
	margin-top: 30px ;
}

